/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}


.be__title {
  color: #D2FFAB;
  font-size: 3rem;
}


.be__subtitle {
  color: #D2FFAB;
  font-size: 1.5rem;
}

[data-theme='dark'] .be__title {
  color: #164A1A;
}

[data-theme='dark'] .be__subtitle {
  color: #164A1A;
}